{{- $cdn := .Scratch.Get "cdn" | default dict -}}
{{- $fingerprint := .Scratch.Get "fingerprint" -}}
{{- $comment := .Scratch.Get "comment" | default dict -}}
{{- $commentConfig := dict -}}

{{- if $comment.enable -}}
    <div id="comments">
        {{- /* Valine for visitor count only (hidden) */ -}}
        {{- $valine := $comment.valine | default dict -}}
        {{- if $valine.enable -}}
            <div id="valine-visitors" class="comment" style="display:none;"></div>
            {{- $options := dict "targetPath" "lib/valine/valine.min.css" -}}
            {{- dict "Source" "lib/valine/valine.scss" "ToCSS" $options | dict "Scratch" .Scratch "Data" | partial "scratch/style.html" -}}
            {{- $source := $cdn.valineJS | default "lib/valine/Valine.min.js" -}}
            {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
            {{- $commentConfig = dict "el" "#valine-visitors" "appId" $valine.appId "appKey" $valine.appKey "lang" ($valine.lang | default (T "valineLang")) "visitor" $valine.visitor "recordIP" $valine.recordIP "placeholder" ($valine.placeholder | default (T "valinePlaceholder")) "highlight" (ne $valine.highlight false) "enableQQ" $valine.enableQQ | dict "valine" | merge $commentConfig -}}
            {{- with $valine.avatar -}}
                {{- $commentConfig = dict "avatar" . | dict "valine" | merge $commentConfig -}}
            {{- end -}}
            {{- with $valine.meta -}}
                {{- $commentConfig = dict "meta" . | dict "valine" | merge $commentConfig -}}
            {{- end -}}
            {{- with $valine.pageSize -}}
                {{- $commentConfig = dict "pageSize" . | dict "valine" | merge $commentConfig -}}
            {{- end -}}
            {{- with $valine.serverURLs -}}
                {{- $commentConfig = dict "serverURLs" . | dict "valine" | merge $commentConfig -}}
            {{- end -}}
            {{- $commentConfig = $valine.emoji | default "google.yml" | printf "lib/valine/emoji/%v" | resources.Get | transform.Unmarshal | dict "valine" | merge $commentConfig -}}
        {{- end -}}

        {{- /* Utterances Comment System */ -}}
        {{- $utterances := $comment.utterances | default dict -}}
        {{- if $utterances.enable -}}
            <div id="utterances" class="comment"></div>
            {{- $commentConfig = dict "repo" $utterances.repo | dict "utterances" | merge $commentConfig -}}
            {{- $commentConfig = $utterances.issueTerm | default "pathname" | dict "issueTerm" | dict "utterances" | merge $commentConfig -}}
            {{- $commentConfig = dict "label" $utterances.label | dict "utterances" | merge $commentConfig -}}
            {{- $commentConfig = $utterances.lightTheme | default "github-light" | dict "lightTheme" | dict "utterances" | merge $commentConfig -}}
            {{- $commentConfig = $utterances.darkTheme | default "github-dark" | dict "darkTheme" | dict "utterances" | merge $commentConfig -}}
            <noscript>
                Please enable JavaScript to view the comments powered by <a href="https://utteranc.es/">utterances</a>.
            </noscript>
        {{- end -}}
    </div>
{{- end -}}

{{- dict "comment" $commentConfig | dict "config" | merge (.Scratch.Get "this") | .Scratch.Set "this" -}}
